# Day objectives
## Introduction TO Jupyter Notebook
**BOLD**

*ITALIAN*

*TEXT

<ing src="">
 1.ordered list 1
    
 2.ordered list 2
 3.ordered list 3

## Python Basics

In [2]:
'''ggkh
vgvjh
hgg''' #using for Multi-Line comments
#->is for single line comments

'ggkh\nvgvjh\nhgg'

In [3]:
## Variable assignment
n=2238
n

2238

In [4]:
n

2238

In [10]:
n1 = n2 = n3 = n
n1

12

In [13]:
n=12
n=10
n=8
print(n)
n1=10
n1

8

10

In [19]:
a=10
a
type(a)

int

In [20]:
b=10.5
b
type(b)

float

In [17]:
c="NAME" #String should be either single quotes or double quotes
c

'NAME'

In [18]:
#type() is used to check the data tye
type(c)

str

In [25]:
#Type conversion :converting one data type into another data type
x = 10
print(x)
type(x)
y=str(x)
print(type(y))
print(float(x))
#type(x)

10
<class 'str'>
10.0

In [33]:
## Basic Arithematic Opertions
## ADd
a= 10
b= 20
print(a+b)
## subtract
k = -2
j = -4
print(k - j)
## multiplication
c=((a+b) * (k -j))
## Division
print(c/2) # '/' single modulu divsion gives float value 
print(c//2) # '//' Double modulu division will give the integer value
## Modulus
print(c%2)

30
2
30.0
30
0

In [36]:
print(10+30)
print(10-20)
print(1000000123 * 1234565878)

40
-10
1234566029851602994

In [37]:
a="k"
type(a)

str

In [38]:
str(a)

'k'

In [40]:
int(str(a)) # string value doesn't convert into integer directly
type(a)

ValueError: invalid literal for int() with base 10: 'k'

In [42]:
## Indentation In Python plays a crucial role
## Nothing but spaces or tab
## Conditional statemnts:To check whether the condition is True or False (T or F are boolean conditions)
## Tf,else,if-else,Nested else

In [46]:
## If condition
## write a program to known how to use if condition
n=25
if (n%2==0):
    print("n is even number")
else:
    print("n is odd number")

n is odd number

In [48]:
# program to find biggest number
a=int(input())
b=int(input())
if a > b:
    print(" a is the biggest number")
else:
    print(" b is the biggest number")

20
50
 b is the biggest number

In [49]:
## this how we take input as dynamicaly
a=input()
a

sujitha

'sujitha'

# String Slicing

In [51]:
s="python"
s

'python'

In [52]:
len(s) #Len()is method is used to known the length of stirng

6

In [53]:
s[5]

'n'

In [54]:
s[0]

'p'

In [55]:
s[3]

'h'

In [58]:
s1="python program is a very powerful language"
len(s1)

42

In [59]:
s1[3]

'h'

In [61]:
s[-2] #from last word will get the second last element

'o'

In [62]:
s1[-1] # last element of the string

'e'

In [63]:
s1[len(s1)-1]

'e'

In [69]:
k="name"
print(len(k))
print(k[len(k)-1]) #from string slicing we use sqr brackets
print(k[-1])
print(k[-2])
print(k[len(k)-2])

4
e
e
m
m

In [74]:
s="python program a very efficient language"
len(s1)
print(s[0:6])
print(s[5:])

python
n program a very efficient language

In [75]:
print(s[-1:-9])

In [76]:
print(s[0::2]) # print diffence of 2

pto rga  eyefcetlnug

In [77]:
print(s[1::2]) #

yhnpormavr fiin agae

In [83]:
print(s[::-1])

egaugnal tneiciffe yrev a margorp nohtyp

In [91]:
print(s[::-2])

eaga niif rvamropnhy

In [93]:
dir(str) #direct of string

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# string methods

In [100]:
a="python welcome"
print(a)
a=a.capitalize()
print(a)
print(a.title())
print(a.upper())
print(a.lower())

python welcome
Python welcome
Python Welcome
PYTHON WELCOME
python welcome

In [102]:
a="SUJITHA"
print(a.isupper())
a.islower()

True

False

In [105]:
b="welove"
b.isalpha()

True

In [104]:
b="sujitha123"
b.isalpha()

False

In [106]:
b="123"
b.isnumeric()

True

In [108]:
b="123"
b.isdigit()

True

In [111]:
b= " 10  20 "
print(b.isnumeric())
print(b.isdigits())

False

AttributeError: 'str' object has no attribute 'isdigits'

In [ ]:
x=input(" enter string ")
y=x[::-1]
if(x==y):
    print("x is pal")
else:
    print("x is not a pal")

In [ ]:
x=19

In [ ]:
z=input()

In [ ]:
a.isupper()