# Pandas 
###  used to clean and anlaysis the data
###   index,series and dataframe are the objects of pandas
####    list,set,tuple and dictionary are used series 
####   Series (series start with capital 's' follwed small letters 'eries'
####   Series act as single dictionary

In [1]:
import pandas as pd  #(pd is referce varible we can add any varible )
# Series (1d array which contains index and values)
# Dataframe(2d array which contains rows and coloums nothing but in table formate)

In [3]:
import pandas as pd
data=pd.Series([1,2,3,4]) #here we data as list format
data

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
data.values  #for retrieveing the data

array([1, 2, 3, 4], dtype=int64)

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data[0]

1

In [8]:
data.index[0]

0

In [10]:
data[0:2]

0    1
1    2
dtype: int64

In [13]:
data=pd.Series([1,2,3,4,5],index=('a','b','c','d','e'))
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [14]:
data['c'] #retrive 3

3

In [15]:
data.index[2]

'c'

# series using dictionarys

In [27]:
data=pd.Series({'s':20,'a':30,'m':40,'e':50})
data

s    20
a    30
m    40
e    50
dtype: int64

In [28]:
data.values

array([20, 30, 40, 50], dtype=int64)

In [29]:
data[0]

20

In [30]:
data.index[0]

's'

In [31]:
data['s']

20

In [32]:
data[0:3] #implicty index can intger in explicity index can have intger and char

s    20
a    30
m    40
dtype: int64

In [33]:
data['s':'m']

s    20
a    30
m    40
dtype: int64

In [34]:
data1=pd.Series(['a','b','c','d'],index=('4','6','8','10'))
data1

4     a
6     b
8     c
10    d
dtype: object

In [44]:
data1.values

array(['a', 'b', 'c', 'd'], dtype=object)

In [50]:
data1.index[0:3]

Index(['4', '6', '8'], dtype='object')

In [49]:
data1.index[0]

'4'

# DataFrames
## 2-dimensional array

In [53]:
d1=pd.Series({'a':20,'b':30,'c':40})
d1

a    20
b    30
c    40
dtype: int64

In [54]:
d2=pd.Series({'a':70,'b':80,'c':120})
d2

a     70
b     80
c    120
dtype: int64

In [55]:
data=pd.DataFrame({'d1':d1,'d2':d2})
data

   d1   d2
a  20   70
b  30   80
c  40  120

In [56]:
d=pd.Series({'s':30,'u':40,'j':50})
d

s    30
u    40
j    50
dtype: int64

In [60]:
d3=pd.Series({'s':60,'u':10,'j':20})
d3

s    60
u    10
j    20
dtype: int64

In [61]:
data=pd.DataFrame({'d':d,'d3':d3})
data

    d  d3
s  30  60
u  40  10
j  50  20

In [62]:
# Index
ind=pd.Index([2,3,5,7,11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [63]:
ind[1]

3

In [64]:
ind[0:5]

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [65]:
ind[1:3]

Int64Index([3, 5], dtype='int64')

In [67]:
print(ind.shape,ind.size,ind.ndim,ind.dtype)

(5,) 5 1 int64

In [ ]:
ind[1]=0  # here values cann't be add because list is immutble means we cann't change values and add values

# Index objects using set opertions

In [70]:
indA=pd.Index([1,2,3,4,5])
indB=pd.Index([4,5,6,7,7])
indA & indB

Int64Index([4, 5], dtype='int64')

In [71]:
indA | indB

Int64Index([1, 2, 3, 4, 5, 6, 7, 7], dtype='int64')

In [72]:
indA ^ indB # '^' acts as semetric differences

Int64Index([1, 2, 3, 6, 7], dtype='int64')

In [73]:
data=pd.Series({'a':10,'b':20,'c':30})
data

a    10
b    20
c    30
dtype: int64

In [74]:
data['a']

10

In [75]:
'a' in data

True

In [76]:
data.keys()

Index(['a', 'b', 'c'], dtype='object')

In [77]:
data['a']=0.2
data

a     0
b    20
c    30
dtype: int64

In [78]:
list(data.items())

[('a', 0), ('b', 20), ('c', 30)]

In [79]:
## Slicing by explicit Indexing
data['a':'c']

a     0
b    20
c    30
dtype: int64

In [80]:
## Slicing by implicit Indexing
data[0:2]

a     0
b    20
dtype: int64

In [81]:
#Masking 
data[(data>0)&(data<=20)]

b    20
dtype: int64

In [82]:
#Fancy indexing
data[['a','c']]

a     0
c    30
dtype: int64

In [83]:
## loc,iloc

In [84]:
#loc attribute allows always explicit indexing
data.loc['a':'c']

a     0
b    20
c    30
dtype: int64

In [85]:
#iloc allows implicit indexing
data.iloc[0:3]

a     0
b    20
c    30
dtype: int64

In [96]:
area=pd.Series({'california':2020,'argentina':2019,'india':2018})
population=pd.Series({'california':2016,'argentina':2014,'india':2017,'australla':2017})
df=pd.DataFrame({'area':area,'population':population})

In [97]:
df

              area  population
argentina   2019.0        2014
australla      NaN        2017
california  2020.0        2016
india       2018.0        2017

In [94]:
df['area']

california    2020
argentina     2019
india         2018
Name: area, dtype: int64

In [95]:
df.area[0]

2020

In [91]:
df.index[0]

'california'